* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: sans-serif;
  letter-spacing: 2px;
  box-sizing: border-box;
}
body {
  background: #e4f2fe;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 90vw;
  max-width: 500px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 20px;
}
.info {
  background: #263444;
  color: white;
  padding: 17px;
  display: flex;
  justify-content: space-between;
}
.display {
  background: #212837;
  height: 500px;
  position: relative;
}

.controll {
  background: #212837;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #a7acb8;
}
.controll span {
  background: #3e475c;
  width: 20%;
  max-width: 90px;
  height: 50px;
  border: 1px solid #a7acb8;
  border-radius: 5px;
  cursor: pointer;
}
.snake {
  background: #5ccaff;
  width: 20px;
  height: 20px;
  transition: 0.1s linear;
  position: absolute;
  left: 20px;
  top: 20px;
}
.food {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #f60049;
}
